@media screen and (max-width:1100px)
{
	#block-views-videos-category-block
	{
		max-width: 720px;
	}

	.overlay .address, .overlay .phone, .overlay .cell
	{
		width:33%;
	}

	.overlay-video,
	.field-name-field-videos1
	{	
		display: block;
		left:20%;
		width:400px!important;
		video
		{
			width:100%!important;
			height: 250px!important;
		}

		.mejs-container,
		.mejs-overlay
		{
			width:100%!important;
			height: 250px!important;
		}

	}
}

@media screen and (min-width:981px)
{
	#block-views-category-menu-block, .view-category-menu-
	{
		width:20%;
		display: block!important;
	}
}

@media screen and (max-width:980px)  and (min-width:750px)
{

	.list .views-field-field-videos1
	{
			width:64%	
	}

}

@media screen and (max-width:980px)
{	

	#front-section1, #content
	{
		margin:50px 10px;
	}

	#block-webform-client-block-10 .webform-component-textfield, 
	.webform-client-form .webform-component-textfield
	{
		width:100%;
	}

	.page-node-62 #front-section1,
	.page-taxonomy-term #front-section1
	{
		margin:0px
	}

	#block-block-9 h2
	{
		text-align: center;
	}

	.mobile-menu
	{
		display: block;
		margin:0 40px;
	}

	#block-block-9 
	{
	  	float: none;
	  	width:100%;
	}

	#node-8
	{
		width:100%;
		border-right:0px;
	}

	#block-views-category-menu-block .views-row a,
	#block-views-category-menu-block a#recent,
	.view-category-menu- .views-row a,
	.view-category-menu- a#recent
	{
	   	 padding-left: 0px;
	}

	
	.view-videos-view .view-content
	{
		width:100%;
	}

	#block-views-mostrecent-block .view-content
	{
		width:100%;
	}

	#grid
	{
		top:-65px;
	}

	#inner-video-view
	{
		width: 90%;
		margin: 0 5%;
	}
	 
	.grid #videos-block .views-row
	{
		width:48%;

		.views-field-title
		{
			clear: left;
		}


	}

	.grid #videos-block .views-row-odd
	{
		padding-right:20px;
	}

	#block-views-category-menu-block, .view-category-menu-
	{
		width:100%;
		display: none;
	}
}

@media screen and (max-width:930px)
{
		#buy-icon,
		#sell-icon,
		#trade-icon
		{
			margin:0px;
		}
}


@media screen and (max-width:825px)
{
	#block-views-videos-category-block
	{
		max-width: 720px;
	}
}

@media screen and (max-width:768px)
{
	#footer2 .region-footer2
	{
		overflow:hidden;
	}


	.views-field-field-videos1
	{	

		video
		{
			height:300px ! important;
		}

		.mejs-container,
		.mejs-overlay
		{
			height: 300px!important;
		}

	}
}


@media screen and (max-width:720px)
{	

	.grid #videos-block .views-row 
	{
  		width: 100%;
	}

	.views-field-field-viedo-cover
	{
		display: none;
	}

	.views-field-field-videos1
	{	
		width:100%;
		float: left;
		padding-right: 20px;
		display: block;
		margin-bottom:20px;

		video
		{
			width:100%!important;
		}

		.mejs-container,
		.mejs-overlay
		{
			width:100%!important;
		}

	}

	span.views-label 
	{
		color:$purple;
	}
	.views-field-field-address, .views-field-field-phone, .views-field-field-cell
	{
		display: block;
		font-size: 14px;
	}
	
	#watch
	{
		display: none;
	}

	#grid
	{
		display: none;
	}

	#buy-icon,
	#sell-icon,
	#trade-icon
	{	
		width:80px;
		background-size:100%;
	 	padding: 90px 10px 0px;
	 	padding-top: 130px;

	 	&:after
	 	{
	 		font-size: 14px;
	 		display: inline;
	 	}
	}
}

@media screen and (max-width:768px)
{
	#block-views-videos-category-block
	{
		max-width: 480px;
	}

	 #block-webform-client-block-10
	 {
	 	width:100%;
	 }

	 #block-block-10, #block-block-11 
	{
		width:85%;
		left:5%;
	}
}

@media screen and (max-width:767px)
{

	#block-block-3, 
	#block-block-4
 	{
		float: none;
		width: 90%;
		margin: 0 5%;
	}

	#block-block-10, #block-block-11 
	{
		width:81%;
		left: 0%;
		.thankyou
		{
			font-size: 28px;
		}
		p
		{
			font-size: 14px;
		}
	}

	#block-block-4
	{
		margin-bottom: 50px;
		border-top:1px solid #04be5f;
	}

	#block-block-3
	{	
		border-bottom:1px solid #018542;
		padding-bottom: 50px;
		.content
		{
			border-right:0px;
			
		}
	}

	#block-block-4 .content
	{
		border-left:0px;
	}
}

@media screen and (max-width:850px)
{
	#block-block-1
	{
	  width: 90%;
	  padding: 0 5%;

	  img
	  {
	  	width:100%!important;
	  	height: auto!important;
	  }
	}	

}

@media screen and (max-width:500px)
{	

	#advertise-button a
	{
		padding: 18px 40px;
		font-size:18px;
		margin-bottom: 50px;
	}

	.mobile-menu 
	{
	  display: block;
	  margin: 0 10px;
	}

	.thankyou
	{
		font-size:38px;
	}

	#block-block-5
	{
		width:90%;
		margin:0 5%;

		img
		{
			width:100%!important;
			height: auto!important;
		}
	}

	#node-8 .content li:before 
	{
		float:left;
		margin-bottom:20px;
	}

	#block-block-6
	{
		padding:0px;
	}

	#block-views-videos-category-block .views-row
	{
		display: inline-block;
		width:48%;
		margin-bottom: 20px;
		float: none;

		.views-field-name a
		{
			  margin: 0px;
			  background-size: 50%;
			  padding: 130px 0px 0px;
			  width: 100%;
			  background-position: center 20%;
		}
	}

	
	#header
	{
		min-height: 500px;
	}

	.not-front #header
	{
		min-height: 400px;
	}

	.webform-client-form
	{
		width:95%;
	}
	
	#sell-icon,
	#trade-icon,
	#buy-icon
	{
		margin: 0px;
	}
}

@media screen and (max-width:350px)
{
	#sell-icon,
	#trade-icon,
	#buy-icon
	{
		width:60px;
	}

	
}